.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html, body {
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
}

body > .container {
    flex: 1;
}

body > footer {
    background-color: #f5f5f5;
}

h1 {
    margin-top: 0.7em;
    margin-bottom: 0.7em;
    font-weight: 200;
}

.course h2 {
    margin: 0;
    padding: 0;
    font-size: 1.25rem;
}

hr {
    margin: 0.5em 0;
}

author {
    font-style: italic;
    color: #888;
}

.rating {
    color: orange;
    white-space: nowrap;
}

.price s {
    color: #aaa;
    font-size: 0.8em;
}

footer {
    margin-top: 3em;
    padding-top: 1em;
    border-top: 1px solid #ccc;
    padding-bottom: 2em;
    text-align: center;
    color: gray;
}

h2 {
    font-size: 1.5rem;
    font-weight: 300;
}